<!DOCTYPE html>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
    <script src="avatar.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="avatar.css">
    <meta charset="utf-8">
    <title>User Avatar Template</title>
</head>

<body class = "tron">
    <div ng-app='app' ng-controller='mainCtrl'>
        <div class="container-fluid">
            <h1>Create new user</h1>
        </div>


        <div class="container-fluid">
            <form name='userForm' ng-submit='addNew(userForm)'>
                <div class = "form-group">
                    <label for = "nameField" class = "label">Name:</label>
                    <input placeholder='Name' ng-model='userForm.name' class = "form-control" id = "nameField"/>
                </div>
                <div class = "form-group">
                    <label for = "imageField" class = "label">Profile Picture:</label>
                    <input placeholder='Image Url' ng-model='userForm.url'  class = "form-control" id = "imageField"/>
                </div>
                <div class = "form-group">
                    <label for = "emailField" class = "label">Email:</label>
                    <input placeholder="Email Address" ng-model="userForm.email"  class = "form-control" id = "emailField" />
                </div>
                
                <button type='submit' class = "btn btn-primary label" style = "color: white;">Add New</button>
            </form>

        </div>

        <div class="container-fluid">
            <ul class='User-list'>
                <li ng-repeat='user in users'>
                    <avatar user="user">
                    </avatar>
                </li>
            </ul>
        </div>
    </div>
</body>

</html>
